@font-face {
  font-family: Gotham;
  src: url('./fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/Gotham-Black.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: neuton;
  src: url('./fonts/neuton.ttf') format('truetype');
}